{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/global.css",
  "tailwindAttributes": [
    "headerClassName",
    "contentClassName",
    "contentContainerClassName",
    "columnWrapperClassName",
    "endFillColorClassName",
    "imageClassName",
    "inputClassName",
    "tintColorClassName",
    "ios_backgroundColorClassName",
    "textClassName",
    "thumbColorClassName",
    "trackColorOnClassName",
    "trackColorOffClassName",
    "selectionColorClassName",
    "cursorColorClassName",
    "underlineColorAndroidClassName",
    "placeholderTextColorClassName",
    "selectionHandleColorClassName",
    "labelClassName",
    "colorsClassName",
    "rippleColorClassName",
    "progressBackgroundColorClassName",
    "titleColorClassName",
    "underlayColorClassName",
    "colorClassName",
    "iconColorClassName",
    "indicatorClassName",
    "containerColorClassName",
    "drawerBackgroundColorClassName",
    "statusBarBackgroundColorClassName",
    "backdropColorClassName",
    "backgroundColorClassName",
    "ListFooterComponentClassName",
    "ListHeaderComponentClassName"
  ],
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all"
}
