.DS_Store
xcuserdata
DerivedData
*.xcuserstate
build/
.idea
.gradle
local.properties
node_modules
npm-debug.log
yarn-error.log
template/ios/Pods/
template/ios/.xcode.env.local
template/ios/Podfile.lock
template/vendor/bundle/
template/Gemfile.lock
template/yarn.lock
**/.cxx

# Yarn
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# heroui-agents-md
.heroui-docs/

.pnp.*